<div class="card" style="margin: 5rem;">
    <div class="card-header">
        Card Header
    </div>
    <div class="card-body">
        <div class="col-xl-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="dropdown" href="#">Color<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: auto;">
                        <li><a href="#">
                                <div (click)='chooseColor("#000000")'
                                    style="background:#000000; width:50px; height:15px; margin: 10px;">
                                </div>
                            </a>
                        </li>
                        <li><a href="#">
                                <div (click)='chooseColor("#ff0000")'
                                    style="background:#ff0000; width:50px; height:15px; margin: 10px;">
                                </div>
                            </a>
                        </li>
                        <li><a href="#">
                                <div (click)='chooseColor("#ffa500")'
                                    style="background:#ffa500; width:50px; height:15px; margin: 10px;">
                                </div>
                            </a>
                        </li>
                        <li><a href="#">
                                <div (click)='chooseColor("#ffff00")'
                                    style="background:#ffff00; width:50px; height:15px; margin: 10px;">
                                </div>
                            </a>
                        </li>
                        <li><a href="#">
                                <div (click)='chooseColor("#00ff00")'
                                    style="background:#00ff00; width:50px; height:15px; margin: 10px;">
                                </div>
                            </a>
                        </li>
                        <li><a href="#">
                                <div (click)='chooseColor("#008000")'
                                    style="background:#008000; width:50px; height:15px; margin: 10px;">
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="dropdown" href="#">Pensil<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: auto;">
                        <li>
                            <a href="#">
                                <div (click)='choosePensil("1")' style="width:50px; height:15px; margin: 10px;">
                                    <hr style="size: 1;">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div (click)='choosePensil("5")' style="width:50px; height:15px; margin: 10px;">
                                    <hr style="size: 5;">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div (click)='choosePensil("10")' style="width:50px; height:15px; margin: 10px;">
                                    <hr style="size: 10;">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div (click)='choosePensil("15")' style="width:50px; height:15px; margin: 10px;">
                                    <hr size="15">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div (click)='choosePensil("20")' style="width:50px; height:15px; margin: 10px;">
                                    <hr style="size: 20;">
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xl-8">

            <div class="push" style=" display: inline;">
                <canvas #canvas class="card-canvas"></canvas>
            </div>
            <div class="col-xl-2"></div>
        </div>
        <div class="card-footer">
            Footer
        </div>
    </div>